/**
* NOTE! This should be minified and added to cities-map.js
* But, really, this should be an automated Grunt task jammed
* into the file.
*/
    .sw-cities-map input[type=checkbox] {
      visibility: hidden;
    }

    .sw-cities-map .event-row {
      border-bottom: 1px solid #e1e1e1;
      padding-bottom: 1em;
    }
    .sw-cities-map .event-row:last-child {
      border-bottom: none;
    }

    .sw-cities-map .event-row__notification-trigger {
      color: green;
      text-decoration: underline;
      cursor: pointer;
    }

    .sw-cities-map .event-row__form-controls:after {
      content: ' | ';
    }

    .sw-cities-map .event-row__form-target {
      display: block;
      height: 0; 
      opacity: 0;
      overflow: hidden;

      transition: height 0.4s ease-in;
    }

    .sw-cities-map .event-row__activate-form:checked + .event-row__form-target { 
      display: block;
      height: 1.5em;
      opacity: 1;

      font-size: 2em;
    }

    .search-results {
      margin: 0;
      list-style: none;
      padding-left: 0;
      height: 60%;
      overflow: scroll;
    }
    .search-results li {
      background-color: #fff;
      cursor: pointer;

      padding: 0.8em 0.5em;
      width: auto;

      font-family: Helvetica, sans-serif;
    }
    .search-results li:hover {
      background-color: #77a5cf;
    }

    .gm-style-iw {
      padding-bottom: 4em;
    }
